:root {
	color: #dcd7c9;
	background-color: #2c3639;
	font-family: "Segoe UI", Inter, Avenir, Helvetica, Arial, sans-serif;
	--pe-color-text-selection: inherit;
	--pe-color-line-selection: #fff2;
	--pe-color-background: #3f4e4f;
	--pe-color-text: #dcd7c9;
}

::selection {
	color: inherit;
	background-color: var(--pe-color-line-selection);
}

body {
	margin: 0 auto 10vh auto;
	padding: 2em;
	min-height: 60vh;
	max-width: 550px;
}

header {
	margin: 5em 0;
}

h1 {
	margin: 0;
	font-size: 5em;
	text-align: center;
	font-weight: normal;
	font-family: "Covered By Your Grace";
}

#links {
	gap: 1em;
	display: flex;
	justify-content: center;
}

#links a {
	color: #dcd7c9;
	line-height: 1.5em;
	text-decoration: none;
	transition: opacity 0.05s;
}

#links img {
	margin-right: 0.4em;
	vertical-align: bottom;
}

#links a:hover {
	text-decoration: underline;
}

@media only screen and (max-width: 520px) {
	body,
	#pocket-editor {
		padding: 1em;
	}

	header {
		margin-top: 3em;
	}

	h1 {
		font-size: 3.5em;
	}
}
