:root {
	font-family: "Segoe UI", Inter, Avenir, Helvetica, Arial, sans-serif;
	color: #222;
	background-color: #c7d2e544;
	font-size: 16px;
	line-height: 24px;
	font-weight: 400;
	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-webkit-text-size-adjust: 100%;
}

body {
	margin: 0 4em;
	min-width: 320px;
	min-height: 60vh;
	display: flex;
	place-content: center center;
	flex-direction: column;
}

#title {
	text-align: center;
	color: white;
	margin-bottom: 0em;
	line-height: 3em;
	font-family: "Covered By Your Grace", "Segoe UI", Inter, Avenir, Helvetica, Arial, sans-serif;
}

#title h1 {
	font-size: 5em;
	margin-top: 1em;
	margin-bottom: 0;
}

#wrapper {
	margin: 10vh auto;
	max-width: 700px;
}

@media (prefers-color-scheme: dark) {
	:root {
		color: white;
		background-color: #222;
	}
}
