:root {
	--pe-color-text: #37352f;
	--pe-color-text-selection: #37352f;
	--pe-color-background: #fff;
	--pe-color-line-selection: #e0edfb;
}

#pocket-editor {
	padding: 1.5em;
	line-height: 1.7em;
	word-break: break-word;
	color: var(--pe-color-text);
	background-color: var(--pe-color-background);
}

#pocket-editor .line {
	display: flex;
	align-items: center;
	padding-left: 0.75em;
	padding-right: 0.75em;
	margin-top: 0.25em;
	margin-bottom: 0.25em;
	border-radius: 0.15em;
	transition: color 0.1s, background-color 0.1s;
}

#pocket-editor .line.sel {
	color: var(--pe-color-text-selection);
	background-color: var(--pe-color-line-selection);
}

#pocket-editor [contenteditable] {
	outline: none;
	width: 100%;
	cursor: text;
}

#pocket-editor div.line h1,
#pocket-editor div.line h2,
#pocket-editor div.line h3 {
	margin-top: 0.5em;
	margin-bottom: 0.5em;
}

#pocket-editor input[type="checkbox"] {
	width: 1.3em;
	height: 1.3em;
}

#pocket-editor div.ul-list,
#pocket-editor div.todo {
	column-gap: 0.5em;
}

#pocket-editor div.ul-list .list-dot {
	text-align: center;
	width: 1em;
}

#pocket-editor div.ul-list .list-dot::before {
	content: attr(data-content);
}

#pocket-editor-mock-sel,
#pocket-editor-mock-p {
	position: absolute;
	visibility: hidden;
}
