#pocket-editor {
	display: flex;
	flex-direction: column;
	row-gap: 4px;
	min-width: 300px;
	padding: 2em;
	line-height: 1.7em;
	letter-spacing: 0.2px;
	word-break: break-word;
}

@media only screen and (max-width: 480px) {
	#pocket-editor {
		min-width: auto;
		padding: 1em;
	}
}

#pocket-editor > * {
	padding: 0 12px;
}

#pocket-editor * {
	outline: none;
}

#pocket-editor .line {
	border-radius: 4px;
	transition: background-color 0.1s linear;
}

#pocket-editor *[contenteditable] {
	width: 100%;
}

/*
	Transforms
*/

#pocket-editor div.line h1 {
	line-height: 1.2em;
}

#pocket-editor div.ul-list,
#pocket-editor div.todo {
	display: flex;
	align-items: flex-start;
}

#pocket-editor div.todo input {
	margin: 0;
	margin-right: 0.5em;
	height: 1.3em;
	width: 0.9em;
	font-size: 1.2em;
	cursor: pointer;
}

#pocket-editor div.ul-list .list-dot {
	font-size: 1.2em;
	margin-right: 0.5em;
	width: 1em;
	text-align: center;
}

#pocket-editor div.ul-list .list-dot::before {
	content: attr(data-content);
	width: 2em;
}
